.product_box .b-1{
  border-color: #abb9c4;
}
.product_description_text{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1;
  max-height: 32.8px;
  min-height: 32.8px;
}